.App {
  text-align: center;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.player-card {
  border: 2px solid #00CC99;
  margin: 10px;
  padding: 5px;
  width: 200px;
}
.dark-mode {
  background: black;
  color: #fff;
}